body {
  padding-top: 40px; }

main {
  margin-top: 72px;
  position: relative;
  z-index: -1; }

.border-divider {
  border: 2px solid;
  width: 84%;
  margin: 0 auto;
  border-radius: 8px;
  opacity: .8;
  margin-top: 24px;
  margin-bottom: 24px;
  position: relative;
  z-index: -1; }

.heading-secondary {
  text-align: center; }

.u-nomargin {
  margin-bottom: -64px; }

.border-fix {
  margin-top: 0 !important; }

header {
  position: fixed;
  top: 0;
  transition: top 0.2s ease-in-out;
  width: 100%; }

.nav-up {
  top: -65px; }

.brand-logo {
  padding-left: 20px !important; }

ul:not(.browser-default) {
  padding-right: 8px; }

.parallax-container {
  height: 100vh; }

.about-section {
  position: relative;
  z-index: -1;
  width: 100%;
  height: 600px; }

.about-image {
  height: 700px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 10%, 0% 90%);
  background-image: url(../images/Remberant-lighting-nobkg.png);
  background-size: cover;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 90px; }

.about-name-heading {
  font-size: 42px;
  line-height: 2; }

.about-paragraph {
  position: absolute;
  top: 365px;
  float: right;
  text-align: right;
  width: 52%;
  right: 0;
  margin-right: 116px; }

.carousel {
  perspective: 330px;
  text-align: center;
  font-size: 28px;
  line-height: 2.24; }

.row-cards {
  display: flex;
  justify-content: space-evenly; }

.card {
  width: 336px; }
