body {
    padding-top: 40px;
}

main{
    margin-top: 72px;
}

.border-divider{
    border: 2px solid;
    width: 84%;
    margin: 0 auto;
    border-radius: 8px;
    opacity: .8;
    margin-top: 24px;
    margin-bottom: 24px;
    position: relative;
}